<h1>Login!!</h1>
<div class="alert alert-warning" *ngIf="InvalidCredential">Incorrect Credentials!!</div>

<div class="container">
  <form (ngSubmit)="!loginForm.invalid && HandleBasicAuthLogin()" #loginForm="ngForm">
   
    <fieldset class="form-group">
      <label ><b>Username</b></label>
      <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Enter Username" required="required">
      <br>
    </fieldset>

    <fieldset class="form-group">
      <label><b>Password</b></label>
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  type="password" placeholder="Enter Password" required="required">
      <br>

    </fieldset>
    <button class="btn btn-success" type="submit">Login</button>
    
    
  </form>
</div>